<%- include('./partials/header') %>
<div class="container">
<div class="jumbotron">
        <h1 class="display-4">Transform Your Blog into Social Posts</h1>
        <p class="lead">Paste a link from one of your blog's post in the form below and then automatically generate social media posts!</p>
        <hr class="my-4">
        <p>For best results, try links with more than 300 words on. </br> </br>
        Want to know more about social media? Find out more <a href="https://claire-nicholson.com/social-media/" style="color:#7272ff;">here</a> </p>
      </div>
    </div>
<div class="container blog-entry">
    <form action="/generate" method="post">
        <div class="form-row">
            <div class="col-12 col-lg-2" id="blog-entry-label"><label class="col-form-label"><strong>Blog Link:</strong></label></div>
            
            
            <div class="col-12 col-lg-4" id="blog-entry-url">     
                <input type="text" name="url" placeholder="https://www.claire-nicholson.com" width="200px" class="form-control">
            </div>
            <div class="col-12 col-lg-4" id="blog-entry-selection">  
            <select name="selection" id="selection" class="form-control">
                <option value="getSentences">Generate from Sentences</option>
                <option value="getParagraphs">Generate from Paragraphs</option>
            </select>
            </div>
            <div class="col-12 col-lg-2" id="blog-entry-button"> 
                <button type="submit" class="btn btn-primary start-over form-control">Generate</button>
                </div>
        </div>
    </form>  
</div>
    <%- include('./partials/footer') %>
