<%- include('./partials/header') %>
<div class="container">
    <div id="guide">
    <h1>Microsoft Excel&trade; Inport Best Practices</h1>

    
        <p>1. Click 'Download CSV File' button</p>

        <p>2. Save .CSV file in a location on your computer. </p>

        <p>3. Save .CSV file in a location on your computer.<strong> Do not immediately open in Excel.</strong></p>

        <p>4. Open Microsoft Excel by itself. <strong>Do not open with your .csv file.</strong></p>

        <p>5. Click on 'New' or open a 'Blank workbook'.</p><img src="/img/open.png">

        <p>6. Click on Data. Then, click on the "From Text/CSV" icon in the "Get & Transform Data" Section.</p>

        <img src="/img/import.png">

        <p>7. On the import screen, be sure to change the "File Origin" to UTF-8.</p>

        <img src="/img/utf8.png">

        <p>8. On the import screen, also be sure to use the "|" as the Delimiter.</p>

        <img src="/img/final-inport.png">

        <p>9. After clicking on "Load", your data will be in a workable format.</p>

        <img src="/img/final-data.png">


        <div class="col">
            <button type="button" id="start-over" class="btn btn-primary start-over"><a href="/">Return Home</a></button>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>